{%extends 'dashboard/layout.html'%}
{% load static %}

{%block content%}
 

  
<div class="content-wrapper">

<div class="content-header">
		<div class="d-flex align-items-center">
			<div class="mr-auto w-p50">
				<h3 class="page-title">Products</h3>
				<div class="d-inline-block align-items-center">
					<nav>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
							<li class="breadcrumb-item active" aria-current="page">Control</li>
						</ol>
					</nav>
				</div>
			</div>
			
    </div>
  </div>

		<section class="content">		
						


<div class="row">
	<div class="col-12">
         <div class="box">
            <div class="box-header">
            	<form class="form" method="post" action="{% url 'product:delete_all_product'%}">
					 {% csrf_token %}
              <h3 class="box-title">Products</h3>
              <span class="icon-input-btn"><span class="glyphicon glyphicon-trash"></span><input type="submit" class="btn btn-info btn-md" value="Delete" id="deleteAcc"></span>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
				<div class="table-responsive">
					
				  <table id="example1" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th> <input type="checkbox" id="ckbCheckAll" /><label for="ckbCheckAll"></label></th>
							<input type="text" name="checked_pro" value="0" id="checked_pro" style="display: none;">
							<th>ID</th>
							<th>NAME</th>
							<th>CODE</th>
							<th>CATEGORY</th>
							<th>HSN</th>
							<th>COST</th>
							<th>PRICE</th>
							<th>WHOLESALE PRICE</th>
							<th>ACTION</th>
						</tr>
					</thead>
					<tbody>
						{% for x in pro_details%}
						<tr>
							<!-- <td><input type="checkbox" id="checkbox_ll" class="filled-in" name="check" value="{{x.id}}">
								<label for="checkbox_ll"></label>
								</td> -->
							<td><input type="checkbox" id="checkbox_{{x.id}}" class="filled-in" name="check" value="{{x.id}}">
								<label for="checkbox_{{x.id}}"></label>
								</td>
							<td>{{x.id}}</td>
							<td>{{x.product_name}}</td>
							<td>{{x.product_code}}</td>
							<td>{{x.category_ref}}</td>
							<td>{{x.product_hsn}}</td>
							<td>{{x.product_cost}}</td>
							<td>{{x.product_price}}</td>
							<td>{{x.product_wholesale_price}}</td>
							<td style="white-space:nowrap;">
								
							<span style="font-size:15px;><input type="button" class="btn btn-circle btn-info btn-sm mb-5" onclick="window.location.href='../del_products/{{x.id}}'">
								<i class="mdi mdi-delete"style="font-size:20px"></i></span></td>
								
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr style="display: none;">
							<th> </th>
							<th>ID</th>
							<th>NAME</th>
							<th>CODE</th>
							<th>CATEGORY</th>
							<th>HSN</th>
							<th>COST</th>
							<th>PRICE</th>
							<th>MRP</th>
							<th>STOCK</th>
							<th>ACTION</th>
						</tr>
					</tfoot>
				</table>
				</div>
        </div>
            <!-- /.box-body -->
          </div>
      </div>
          <!-- /.box -->      
        </div>
       
 <script src="{% static 'assets/vendor_components/jquery-3.3.1/jquery-3.3.1.js' %}"></script>
 
<script type="text/javascript">
$(document).ready(function(){
    $('#ckbCheckAll').on('click',function(){
        if(this.checked){
            $('.filled-in').each(function(){
                this.checked = true;
            });
        }else{
             $('.filled-in').each(function(){
                this.checked = false;
            });
        }
    });
    
    $('.filled-in').on('click',function(){
        if($('.filled-in:checked').length == $('.filled-in').length){
            $('#ckbCheckAll').prop('checked',true);
        }else{
            $('#ckbCheckAll').prop('checked',false);
        }
    });
});

 	$(document).ready(function() {
        $("#deleteAcc").click(function(){
            var favorite = [];
            $.each($("input[name='check']:checked"), function(){            
                favorite.push($(this).val());
                $('#checked_pro').val(favorite);
            });
            
        });
    });


</script>
   {%endblock%}	