<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
    .all{max-width: 1000px;}
    .contents{max-width: 200px;max-height: 200px;float: left;margin: -12px}
    img{height: 100%;width: 100%;margin:-8px;}
		p{margin: -2px;font-weight:bolder;font-size: 13px}
		h5{margin: 0px;float: center;}
		ul{ list-style:none;text-align: center;}
		
	</style>
</head>
{% load static %}
<body>
<div class="all">
	{% for x in unit_list %}
	
    <div class="contents">
	   <ul>
        <li>
          <h5 class="title">{{store_info.store_name}}</h5>
          <img id="0" src="{% static 'images/barcode/vj1.png' %}?ver=2"/">
          <div class="details">
            <p class="product_code">{{prod_code}}</p>
            <p class="product_name">{{prod_name}}</p>
            <p class="product_price">MRP : {{prod_cost}}.00</p>
          </div>
        </li>
       </ul>
    </div>
    {% endfor %}
       
</div>
</body>
</html>
